pandas
numpy
joblib
xgboost
shap
faker
kagglehub
python-dotenv
transformers
langchain-huggingface
langchain-chroma
langchain-community
langchain-text-splitters
langchain-core
langchain-google-genai
langgraph
fastapi
uvicorn
pydantic
requests
ipython
